<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Bookstore</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Books</h1>
	<div class="col-md-4">
		<h3 th:inline="text">Hello, [[${#httpServletRequest.remoteUser}]]!</h3>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Log out" class="btn btn-sm btn-warning"/>
		</form>
	</div>
	<ul>
		<li><a href="/">Books</a></li>
		<li sec:authorize="hasAuthority('ADMIN')"><a href="/addbook">Add a book</a></li>
		<li><a href="/categories">Categories</a></li>
		<li sec:authorize="hasAuthority('ADMIN')"><a href="/addcategory">Add a category</a></li>
	</ul>
	<table class="table table-striped">
		<thead>
			<tr>
				<td>Author</td>
				<td>Title</td>
				<td>ISBN</td>
				<td>Year</td>
				<td>Category</td>
				<td sec:authorize="hasAuthority('ADMIN')">Actions</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="book: ${books}">
				<td th:text="${book.author}"></td>
				<td th:text="${book.title}"></td>
				<td th:text="${book.isbn}"></td>
				<td th:text="${book.year}"></td>
				<td th:text="${book.category.name}"></td>
				<td sec:authorize="hasAuthority('ADMIN')">
					<a class="btn btn-warning" th:href="@{/edit/{id}(id=${book.id})}">Edit</a>
					<a class="btn btn-danger" th:href="@{/delete/{id}(id=${book.id})}">Delete</a>
				</td> 
			</tr>
		</tbody>
	</table>
</body>
</html>