<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Bookstore</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Categories</h1>
	<ul>
		<li><a href="/">Books</a></li>
		<li><a href="/addbook">Add a book</a></li>
		<li><a href="/categories">Categories</a></li>
		<li><a href="/addcategory">Add a category</a></li>
	</ul>
	<table class="table table-striped">
		<thead>
			<tr>
				<td>Name</td>
				<td>Actions</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="category: ${categories}">
				<td th:text="${category.name}"></td>
				<td>
					<a class="btn btn-warning" th:href="@{/editcategory/{id}(id=${category.id})}">Edit</a>
					<a class="btn btn-danger" th:href="@{/deletecategory/{id}(id=${category.id})}">Delete</a>
				</td> 
			</tr>
		</tbody>
	</table>
</body>
</html>