<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Bookstore</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Categories</h1>
	<ul>
		<li><a href="/categories">Categories</a></li>
	</ul>
	<form action="#" th:action="@{/savecategory}" th:object="${category}" method="POST">
		<p>
			<input type="hidden" th:field="*{id}" />
			<label for="author">Name:</label>
			<input type="text" th:field="*{name}" />
		</p>
		<p>
			<input type="submit" class="btn btn-success"/>
		</p>
	</form>
</body>
</html>